body{
  font-family: 'Prompt', sans-serif;
}
h4{
  text-align: center;
  font-size: 1.25em;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;  
}
h5{
  text-align: center;
  font-size: 1.20em;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;  
}
.worktable,h3{
  font-family: 'Prompt', sans-serif;
}
.contact,h2{
  font-family: 'Prompt', sans-serif;
}


.service .service-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
.service .service-item img {
  transition: all ease-in-out 0.4s;
}
.service .service-item:hover img {
  transform: scale(1.1);
}